<h1>Welcome home old friend ❤️</h1>

<% @lists.each do |list| %>
<li><%= link_to list.name, list_path(list) %></li>
<% raise %>
<% end %>

<%= link_to "Add a new list", new_list_path %>
<%= link_to "back to movies", movies_path %>
